---

# Fallback
BasedOnStyle: LLVM
UseTab:     Never
TabWidth:     4
IndentWidth:  4

Language:   Cpp
Standard:   Cpp11

ColumnLimit: 80
ContinuationIndentWidth: 2

AccessModifierOffset: -1
AlignAfterOpenBracket: Align

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: false
AlignEscapedNewlinesLeft: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true

AllowShortIfStatementsOnASingleLine: WithoutElse

AlwaysBreakAfterReturnType: TopLevel

AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: Yes

BinPackArguments: false
BinPackParameters: false

BreakAfterJavaFieldAnnotations: true
BreakBeforeTernaryOperators: true
BreakStringLiterals: true

IndentCaseLabels: false
IndentPPDirectives: None

DerivePointerAlignment: false
PointerAlignment: Right

BreakBeforeBraces: Custom

BraceWrapping:
  AfterClass:   false
  AfterControlStatement: false
  AfterEnum:      false
  AfterFunction:  true
  AfterNamespace: false
  AfterStruct:    true
  AfterUnion:     false
  BeforeCatch:    false
  BeforeElse:     false
  IndentBraces:   false

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeCpp11BracedList: true

