CMakeFiles/
build/
out/

vcpkg_installed/

.cache/
.cap/
.captures/
.extras/
.vscode/
.vs/

imgui.ini

*.blend1

CMakeSettings.json
compile_commands.json

goodsack/gsk_data/textures/hdr
goodsack/gsk_data/map/autosave