[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/cglm"]
	path = thirdparty/cglm
	url = https://github.com/recp/cglm
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://www.github.com/nlohmann/json.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/openal-soft"]
	path = thirdparty/openal-soft
	url = https://github.com/kcat/openal-soft
[submodule "thirdparty/vulkan"]
	path = thirdparty/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "thirdparty/cgltf"]
	path = thirdparty/cgltf
	url = https://github.com/jkuhlmann/cgltf
